[submodule "eda-infra-rs"]
	path = vendor/eda-infra-rs
	url = https://github.com/gpu-eda/eda-infra-rs.git
	branch = jacquard-integration
[submodule "benchmarks/dataset"]
	path = benchmarks/dataset
	url = https://github.com/gpu-eda/GEM-dataset.git
[submodule "sky130_fd_sc_hd"]
	path = vendor/sky130_fd_sc_hd
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_sc_hd.git
[submodule "chipflow-examples"]
	path = vendor/chipflow-examples
	url = https://github.com/ChipFlow/chipflow-examples.git
[submodule "vendor/opensta"]
	path = vendor/opensta
	url = https://github.com/parallaxsw/OpenSTA.git
[submodule "vendor/gf180mcu_fd_sc_mcu7t5v0"]
	path = vendor/gf180mcu_fd_sc_mcu7t5v0
	url = https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_sc_mcu7t5v0.git
[submodule "vendor/gf180mcu_fd_sc_mcu9t5v0"]
	path = vendor/gf180mcu_fd_sc_mcu9t5v0
	url = https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_sc_mcu9t5v0.git
